.icon {
  display: block;
  height: $icon-side;
  width: $icon-side;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
    position: relative;

    @include on-desktop {
      &:hover::before {
        position: absolute;
        content: $phone-number;
        text-decoration: none;
        top: $icon-side / 5;
        right: 16px;
        display: flex;
        width: 180px;

        font-family: Inter, sans-serif;

        @include font-size(700, 12px, 16px, 2px);

        text-align: right;
        vertical-align: middle;
        text-transform: uppercase;

        color: $main-text-color;

        @include hover(transform, scale(1.2));
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
