.photo {
  margin: 0;
  padding: 0;
  height: 200px;
  background-image: url(../images/photo-bg-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include on-tablet {
    height: 400px;
    background-image: url(../images/photo-bg-tablet.png);
  }

  @include on-desktop {
    height: 460px;
    background-image: url(../images/photo-bg-desktop.png);
  }
}
