@import 'utils/variables';
@import 'utils/mixins';
@import 'blocks/page';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/section-title';
@import 'blocks/main';
@import 'blocks/product';
@import 'blocks/recommended';
@import 'blocks/categories';
@import 'blocks/category';
@import 'blocks/photo';
@import 'blocks/about';
@import 'blocks/contacts';

p {
  margin: 0;
}

button {
  height: 56px;
  width: 100%;
  background: $button-bg;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0;

  &:hover {
    background: $main-text-color;
  }

  &:active {
    background: $main-text-color;
  }
}

input {
  height: 48px;
  width: 100%;
  border-radius: 8px;
  background: $input-bg;
  border: none;
  color: $input-text-color;
  padding: 0 16px;
  box-sizing: border-box;

  @include font-size(400, 14px, 140%, 0.15px);
}

textarea {
  height: 148px;
  width: 100%;
  color: $input-text-color;

  border-radius: 8px;
  background: $input-bg;
  border: none;
  margin-bottom: 32px;
  padding: 14px 16px;
  box-sizing: border-box;
  resize: none;

  @include font-size(400, 14px, 140%, 0.15px);
}
