$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$icon-side-mobile: 24px;
$icon-side-tablet: 32px;
$effectDuration: 0.3s;
$main-text-color: #1b2129;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 72px;
$padding-inline-desktop: 120px;
$input-text-color: #7e7e83;
$input-bg: #f9f9f9;
$button-bg: #f98921;
$link-contacts-text-color: #191919;
$title-contacts-text-color: #9393a3;
$phone-number: '+1 234 5555-55-55';
